* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.home {
    width: 100%;
    min-height: 50vh;
    max-height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.radwan {
    position: fixed;
    width: 100%;
    padding: 12px 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(7px);
    color: #fff;
    font-family: Cairo,sans-serif;
    z-index: 10;
    color: #fff;
    background-color: #00000050;
}

.radwan a  {
    color: #1FCEFB;
}
footer a {
    color: #158eac;
}
.home img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.home .text {
    width: auto;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home .text p , .home .text .btns {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-family: Cairo,sans-serif;
}

.home .text h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 3rem;
}

.home .text .btns {
    gap: 20px;
}

.home .text .btns a {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    background-color: #1FCEFB;
    color: #fff;
    outline: none;
}





.how-to,.futures {
    width: 100%;
    height: auto;
    padding: 2rem 1rem;

}


.how-to > h1 , .futures > h1{
    text-align: center;
    font-family: Cairo,sans-serif;
    color: #25B9F1;
    font-weight: bold;
    font-size: 40px;
    filter: drop-shadow(0px 3px 21px #25B9F160) ;
}


.boxes {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
}


.boxes .box {
    width: 320px;
    height: 250px;
    background-color: #317BCF14;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes .box small {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    top: 15px;
    right: 15px;
    color: #25B9F1;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    overflow: hidden;
    font-family: sans-serif;
}

.boxes .box p {
    color: #25B9F1;
    font-family: Cairo,sans-serif;
    font-weight: bold;
    font-size: 35px;
    transition: all 0.3s ease;
}

.box::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #25B9F1;
    width: 0%;
    height: 0%;
    z-index: -1;
    border-radius: 30px;
    transition: all 0.3s ease;
}


.box:hover > p {
    color: #fff;
}
.box:hover::after {
    width: 100%;
    height: 100%;
}


.sperator {
    position: relative;
    margin: 30px auto;
    width: 90%;
    border-radius: 16px;
    background-color: #1FCEFB;
    box-shadow: 0px 3px 30px #1FCEFB ;
    height: 15px;
}


.futures .boxes .box {
    flex-direction: column;
    width: 250px;
    align-items: center;
    height: 200px;
    gap: 20px;
    
}

.futures .box:hover i {
    color: #fff;
}
.futures .box i{
    color: #25B9F1;
    font-size: 35px;
    width: auto;
    position: relative;
    transition: all 0.3s ease;
}


.futures .box p {
    font-size: 17px;
    text-align: center;
}



footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: #1FCEFB;
    color: #fff;
    font-family: Cairo,sans-serif;
    box-shadow: 0px 3px 30px #1FCEFB ;
    height: 50px;
    margin: 50px auto;
    border-radius: 26px;
    width: 90%;
}



footer p {
    text-align: center;
    filter: drop-shadow(0px 7px 21px #fff);
    font-weight: bold;
}



@media (max-width:600px) {
    footer{
        border-radius: 0;
        width: 100%;
        margin: 0;
        margin-top: 20px;

    }


    .futures .boxes .box,.how-to .boxes .box  {
        width: 150px;
        height: 150px;
    }

    .futures .boxes .box i ,.how-to .boxes .box p{
        font-size: 20px;
    }



    .futures .boxes .box p {
        font-size:12px;
        font-weight: bold;
    }

    .how-to .boxes .box small {
        width: 30px;
        height: 30px;
        font-size: 11px;
        font-weight: bold;
    }

    .home .text h1 {
        font-size: 25px;
        font-weight: bolder;
    }
}
