{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> الاختبارات  </title>
    <link rel="stylesheet" href="{% static 'css/add-student.css' %}">
</head>
<body>



    <style>


    </style>
    
    <img src="{% static 'images/bg.png' %}" alt="" class="bg">

    <form class="container" method="POST">
        
        {% csrf_token %}
        <h1 class="tit">الاختبارات</h1>
        <select name="level" >
            {% for level in levels %}
            {% if level == current_level %}
                <option value="{{level}}" selected>{{level}}</option>
            {% else %}
                <option value="{{level}}">{{level}}</option>
            {% endif %}
            {% endfor %}
        </select>

        <div class="exams">
            {% for exam in exams %}
                <a href="{% url 'exam_results' exam.id exam.teacher.teacher_uuid%}"> اختبار بتاريخ : {{exam.date|date:"SHORT_DATE_FORMAT"}}</a>
            {% endfor %}
        </div>

    </form>

    <script>
        
        
        document.querySelector('select').addEventListener('change',function(){
            document.querySelector('form').submit()
        })

        
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'css/overlay.css' %}">
    <script src="{% static 'overlay.js' %}"></script>
</body>
</html>